

// Color palette
$color-brand:				#c69963;
$color-brand-dark:          #B28451;
$color-secondary:           #101d2c;
$color-brand-highlight:		lighten($color-brand, 15%);
$color-brand-shadow:		darken($color-brand, 15%);

$color-gray:				#ccc;
$color-gray-light:			#f9f7f6;
$color-gray-light-2:		#aaa;
$color-gray-dark:			#54483A;
$color-gray-dark-2:			#6D5D4B;

$color-error:				red;
$color-success: 			green;

$color-highlight:			rgba(255, 255, 255, 0.05);
$color-shadow:				rgba(0, 0, 0, 0.05);





// UI
$color-ui:					$color-gray-light;

// Text
$color-text:				$color-gray-dark;
$color-title:        		$color-gray-dark;

// Links
$color-link:        		$color-brand;
$color-link--hover:  		$color-brand-shadow;

// Buttons
$color-btn:         		$color-brand;
$color-btn--hover:   		$color-brand-shadow;
$color-btn--focus:   		$color-brand-shadow;
$color-btn--active:   		$color-brand-shadow;
$color-btn-bgr:        		$color-gray;
$color-btn-bgr--hover:   	$color-brand-shadow;
$color-btn-bgr--focus:   	$color-brand-shadow;
$color-btn-bgr--active:   	$color-brand-shadow;

// Inputs
$color-input:				$color-brand;
$color-input-bgr:			$color-brand-shadow;
$color-input-border:		$color-brand-shadow;
$color-input-placeholder:	$color-brand-shadow;