

//base font settings
$base-font-family:								'Nunito', sans-serif;
$base-font-display:								'Josefin Sans', sans-serif;
$base-font-size:    							16px; // mobile
$base-line-height:  							20px; // mobile

$base-font-size-lg:    							16px; // desktop
$base-line-height-lg:  							24px; // desktop

$base-radius:       							0;

$spacing-unit: 									20px;
$spacing-unit--small:                           round($spacing-unit / 2);

$page-max-width:                                1170px;


// Breakpoints
$breakpoint-small:								481px;
$breakpoint-medium:                             640px;
$breakpoint-large:                              1025px;
$breakpoint-extralarge:                         1281px;


$base-transition: all .2s ease;