/*------------------------------------*\
    #TRUMPS - u-FONT
\*------------------------------------*/

//u-FONT WEIGHTS
.u-font-light {
    font-weight: 300 !important;
}

.u-font-normal {
    font-weight: 400 !important;
}

.u-font-semibold {
    font-weight: 600 !important;
}

.u-font-bold {
    font-weight: 700 !important;
}

.u-font-extrabold {
    font-weight: 800 !important;
}

//u-FONT SIZES
.u-font-extra-tiny {
    font-size: 8px !important;
}

.u-font-extra-small {
    font-size: 10px !important;
}

.u-font-tiny {
    font-size: 12px !important;
}

.u-font-small {
    font-size: 14px !important;
}

.u-font-default {
    font-size: 16px !important;
}

.u-font-large {
    font-size: 20px !important;
}

.u-font-huge {
    font-size: 22px !important;
}

.u-font-extrahuge {
    font-size: 24px !important;
}

.u-font-x-huge {
    font-size: 32px !important;
}

//u-FONT TRANSFORMS
.u-font-uppercase {
    text-transform: uppercase !important;
}

.u-font-lowercase {
    text-transform: lowercase !important;
}

.u-font-capitalize {
    text-transform: capitalize !important;
}

.u-font-no-transfrom {
    text-transform: none !important;
}
