/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

/*$header-height: 0px;
$header-bgr: #$color-gray-dark;

.header-main {
	height: $header-height;
	background-color: $header-bgr;
}

.header-main--fixed {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	+ main {
		padding-top: $header-height;
	}
}*/

.header-main {
	background-color: $color-gray-dark;
}