/*------------------------------------*\
    #HEADER MAIN
\*------------------------------------*/

/*$header-height: 0px;
$header-bgr: #$color-gray-dark;

.header-main {
	height: $header-height;
	background-color: $header-bgr;
}

.header-main--fixed {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	+ main {
		padding-top: $header-height;
	}
}*/

.header-main {
	background-color: $color-gray-dark;
	grid-column: full-start / col-end 6;
	background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../images/hero.jpeg);
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-rows: 1fr min-content minmax(60px, min-content) 1fr;
	grid-template-columns: minmax(min-content, max-content);
	grid-row-gap: 15px;
	padding: 80px;
	padding-top: 40px;
	justify-content: center;

	@media only screen and (max-width: 900px) {
		grid-column: 1 / -1;
	  }

	  @media only screen and (max-width: 600px) {
		padding: 50px;
	  }

	&__logo {
		height: 30px;
		justify-self: center;
	}

	&__btn {
		align-self: start;
		justify-self: start;

		&:hover {
			transform: translateY(-3px);
		}

	}

	&__seenon-text {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		grid-column-gap: 15px;
		align-items: center;
		font-size: 16px;
		color: $color-gray-light-2;


		&::before,
		&::after {
			content: '';
			height: 1px;
			display: block;
			background-color: currentColor;
		}
	}

	&__seenon-logos {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 30px;
		justify-items: center;
		align-items: center;

		img {
			max-height: 25px;
			max-width: 100%;
			filter: brightness(70%);
		}
	}
}