{% extends "./_templates/template.default.html" %}
{% set title = "Homepage" %}
{% set page = "homepage" %}

{% block content %}
	{% include "_components/component.header.html" %}
	<main>
		hfgdslkghjkajghfdg
		<div class="container">
			<div class="items1">gfhfgh</div>
			<div class="items2">fghfgh</div>
			<div class="items3">fghfgh</div>
			<div class="items4">fghfgh</div>
			<div class="items5">gfhfghgfh</div>
		</div>
	</main>
	{% include "_components/component.footer.html" %}
{% endblock %}
