{% extends "./_templates/template.default.html" %}
{% set title = "Homepage" %}
{% set page = "homepage" %}

{% block content %}

<div class="sidebar">
	Sidebar
</div>

{% include "_components/component.header.html" %}

<div class="realtors">
	Top 3 realtor
</div>

<section class="features">
	<div class="feature">
		<svg class="feature__icon">
			<use xlink:href="/src/images/sprite.svg#icon-global"></use>
		</svg>
		<h4 class="heading-4 h4--dark">Textdfjkhasdfjkashdf</h4>
		<p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates incidunt
			voluptatibus iste nisi facilis quae inventore voluptate dolores maxime.</p>
	</div>
	<div class="feature">
		<svg class="feature__icon">
			<use xlink:href="/src/images/sprite.svg#icon-trophy"></use>
		</svg>
		<h4 class="heading-4 h4--dark">Textdfjkhasdfjkashdf</h4>
		<p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates incidunt
			voluptatibus iste nisi facilis quae inventore voluptate dolores maxime.</p>
	</div>
	<div class="feature">
		<svg class="feature__icon">
			<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
		</svg>
		<h4 class="heading-4 h4--dark">Textdfjkhasdfjkashvdfgdf</h4>
		<p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates </p>
	</div>
	<div class="feature"><svg class="feature__icon">
			<use xlink:href="/src/images/sprite.svg#icon-key"></use>
		</svg>
		<h4 class="heading-4 h4--dark">dsfdsfdsfsddddddddddg</h4>
		<p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates incidunt
			voluptatibus iste nisi facilis quae fasfasdfainventore voluptate dolores maxime.</p>
	</div>
	<div class="feature">
		<svg class="feature__icon">
			<use xlink:href="/src/images/sprite.svg#icon-presentation"></use>
		</svg>
		<h4 class="heading-4 h4--dark">Textdfjkhasdfjkashdf</h4>
		<p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates incidunt
			voluptatibus iste nisi facilis quae inventore voluptate dolores maxime.</p>
	</div>
	<div class="feature"><svg class="feature__icon">
			<use xlink:href="/src/images/sprite.svg#icon-lock"></use>
		</svg>
		<h4 class="heading-4 h4--dark">Textdfjkhasdfjkashdf</h4>
		<p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptates </p>
	</div>
</section>

<div class="story__pictures">
	<img src="/src/images/story-1.jpeg" alt="" class="story__img--1">
	<img src="/src/images/story-2.jpeg" alt="" class="story__img--2">
</div>

<div class="story__content">
	<h3 class="headin-3">Happy customer</h3>
	<h2 class="heading-2 h2--dark">&ldquo;The best decision of our lives&rdquo;</h2>
	<p class="story__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, repellendus?</p>
	<button class="btn">Find your home</button>
</div>

<section class="homes">
	<div class="home">
		<img src="/src/images/house-1.jpeg" alt="" class="home__img">
		<svg class="home__like">
			<use xlink:href="/src/images/sprite.svg#icon-heart-full"></use>
		</svg>
		<h5 class="home__name">Beautiful Familiy House</h5>
		<div class="home__location">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
			</svg>
			<p>USA</p>
		</div>
		<div class="home__rooms">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-profile-male"></use>
			</svg>
			<p>5 rooms</p>
		</div>
		<div class="home__area">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-expand"></use>
			</svg>
			<p>325 m<sup>2</sup></p>
		</div>
		<div class="home__price">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-key"></use>
			</svg>
			<p>$1250000</p>
		</div>
		<button class="btn home__btn">Contact realtor</button>
	</div>
	<div class="home">
		<img src="/src/images/house-2.jpeg" alt="" class="home__img">
		<svg class="home__like">
			<use xlink:href="/src/images/sprite.svg#icon-heart-full"></use>
		</svg>
		<h5 class="home__name">Beautiful Familiy House</h5>
		<div class="home__location">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
			</svg>
			<p>USA</p>
		</div>
		<div class="home__rooms">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-profile-male"></use>
			</svg>
			<p>5 rooms</p>
		</div>
		<div class="home__area">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-expand"></use>
			</svg>
			<p>325 m<sup>2</sup></p>
		</div>
		<div class="home__price">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-key"></use>
			</svg>
			<p>$1250000</p>
		</div>
		<button class="btn home__btn">Contact realtor</button>
	</div>
	<div class="home">
		<img src="/src/images/house-3.jpeg" alt="" class="home__img">
		<svg class="home__like">
			<use xlink:href="/src/images/sprite.svg#icon-heart-full"></use>
		</svg>
		<h5 class="home__name">Beautiful Familiy House</h5>
		<div class="home__location">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
			</svg>
			<p>USA</p>
		</div>
		<div class="home__rooms">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-profile-male"></use>
			</svg>
			<p>5 rooms</p>
		</div>
		<div class="home__area">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-expand"></use>
			</svg>
			<p>325 m<sup>2</sup></p>
		</div>
		<div class="home__price">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-key"></use>
			</svg>
			<p>$1250000</p>
		</div>
		<button class="btn home__btn">Contact realtor</button>
	</div>
	<div class="home">
		<img src="/src/images/house-4.jpeg" alt="" class="home__img">
		<svg class="home__like">
			<use xlink:href="/src/images/sprite.svg#icon-heart-full"></use>
		</svg>
		<h5 class="home__name">Beautiful Familiy House</h5>
		<div class="home__location">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
			</svg>
			<p>USA</p>
		</div>
		<div class="home__rooms">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-profile-male"></use>
			</svg>
			<p>5 rooms</p>
		</div>
		<div class="home__area">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-expand"></use>
			</svg>
			<p>325 m<sup>2</sup></p>
		</div>
		<div class="home__price">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-key"></use>
			</svg>
			<p>$1250000</p>
		</div>
		<button class="btn home__btn">Contact realtor</button>
	</div>
	<div class="home">
		<img src="/src/images/house-5.jpeg" alt="" class="home__img">
		<svg class="home__like">
			<use xlink:href="/src/images/sprite.svg#icon-heart-full"></use>
		</svg>
		<h5 class="home__name">Beautiful Familiy House</h5>
		<div class="home__location">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
			</svg>
			<p>USA</p>
		</div>
		<div class="home__rooms">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-profile-male"></use>
			</svg>
			<p>5 rooms</p>
		</div>
		<div class="home__area">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-expand"></use>
			</svg>
			<p>325 m<sup>2</sup></p>
		</div>
		<div class="home__price">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-key"></use>
			</svg>
			<p>$1250000</p>
		</div>
		<button class="btn home__btn">Contact realtor</button>
	</div>
	<div class="home">
		<img src="/src/images/house-6.jpeg" alt="" class="home__img">
		<svg class="home__like">
			<use xlink:href="/src/images/sprite.svg#icon-heart-full"></use>
		</svg>
		<h5 class="home__name">Beautiful Familiy House</h5>
		<div class="home__location">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-map-pin"></use>
			</svg>
			<p>USA</p>
		</div>
		<div class="home__rooms">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-profile-male"></use>
			</svg>
			<p>5 rooms</p>
		</div>
		<div class="home__area">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-expand"></use>
			</svg>
			<p>325 m<sup>2</sup></p>
		</div>
		<div class="home__price">
			<svg>
				<use xlink:href="/src/images/sprite.svg#icon-key"></use>
			</svg>
			<p>$1250000</p>
		</div>
		<button class="btn home__btn">Contact realtor</button>
	</div>
</section>

<section class="gallery">
	Gallery
</section>

{% include "_components/component.footer.html" %}
{% endblock %}