/*------------------------------------*\
    #STYLEGUIDE STYLES
\*------------------------------------*/

/**
 * These styles are used only for styleguide page, not for production.
 */

/**
 * Styleguide container.
 */
.styleguide-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

/**
 * Styleguide block.
 */
.styleguide-block {
    border-bottom: 1px solid rgba(#dddcdc, .5);
    margin-bottom: 40px;
    padding-bottom: 40px;

    a[name] {
        color: #89969f;

        &,
        &:hover {
            text-decoration: none;
        }
    }
}
